[Desktop Entry]
Type=Application

Name=IHAutoClicker

Exec=ihautoclicker

Icon=ihautoclicker

Comment=Automatic clicks in JavaFX with native inputs
Comment[pt_br]=Cliques automaticos em JavaFX + Eventos Nativos

Categories=Game